body{
  background-color: lavender;
  font-family: "Comic Sans MS";
  margin: 50px;
}
div{
  background-color: mediumslateblue;
  border-top-style:solid;
  border-bottom-style:solid;
  border-right-style:solid;
  border-left-style:solid;
  border-color: indigo;
  text-align: center;
}
h1{
  font-family: "Tahoma";
}
canvas{
  background: white;
  border: 2px solid DodgerBlue;
  width: 450px;
  height: 300px;
}
